
body {
	background: url(bckground_uasd-virtual-optimized.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/*****fonts*****/
	.sf-regular {
		font-family: 'SFCompactText-Regular';
	}
	.sf-medium {
		font-family: 'SFProDisplay-Medium';
	}
	.sf-heavy {
		font-family: 'SFProDisplay-Heavy';
	}
/*****fonts*****/

/*placeholders*/
	::-webkit-input-placeholder { /* Edge */
		font-size: 16px;
		font-family: 'SF CompactText-Regular';

	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-size: 16px;
		font-family: 'SFCompactText-Regular';
	}

	::placeholder {
		font-family: 'SFCompactText-Regular';
		font-size: 16px;
	}

/*placeholders*/

.logo {
	width: 100%;
    max-width: 814px;
	padding: 38px;
	margin: 0 auto;
}

.contaniner-login{
	width: 100%;
	max-width: 1024px;
	max-height: 520px;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 0px 15px 15px rgba(0,29,86, .16);
}

.blue-back-left {
	position: relative;
	/*height: auto;*/
	border-radius: 15px 0 0 15px;

	background: rgb(0,163,230);
	background: linear-gradient(9deg, rgba(0,163,230,1) 0%, rgba(0,119,213,0.9023984593837535) 100%);
}

.logo-uasd-virtual {
	padding: 60px 0 0 20px;
}
.white-right {
	border-radius: 0 15px 15px 0;
	/*height: 520px;*/
	background: #FFFFFF;
}
.boton-recuperar-nip {
	margin: 220px auto 0 60px;

}


.texto-blanco-small {
	color: #B4DEFF;
	font-size: 14px;
	margin-bottom: 40px;
}

h1 {
	color: #0077D5;
	font-size: 24px;
}




.small-text {
	color: #929594;
	font-size: 14px;
	line-height: 1.3em;
}

.white-content {
	padding: 60px 50px 0;
}

.boton-outline {
	padding: 15px 50px 15px 60px;
	border: 2px solid #FFFFFF;
	color: #FFFFFF; 
	text-decoration: none;
	background-color: rgba(255,255,255,0) ;
	margin: 0;
	border-radius: 60px;
	transition: background-color 0.5s ease;
}

.boton-outline:hover {
	text-decoration: none;
	color: #0077D5;
	background-color: rgba(255,255,255,1) ;
}
.btn-recuperar-nip {
	background-repeat: no-repeat;
	background-position: 20px 10px; 
	background-image: url(recuperar_nip_icon_small.svg);

}
.btn-recuperar-nip:hover {
	background-image: url(recuperar_nip_icon_small_hover.svg);
}

input {
	border-radius: 3px;
	border: 1px solid #ECECEC;
	background: #F4F8F7;
	margin: 10px 0;

}

input.input-id-banner {
	padding: 10px 50px;
	width: 100%;
	background: #F4F8F7 url(boton_id_banner.svg) 15px 15px no-repeat;
}

input.input-pass {
	padding: 10px 50px;
	width: 100%;
	background: #F4F8F7 url(boton_contrasena.svg) 15px 15px no-repeat;
}

input.input-captcha {
	padding: 10px 32px;
}

.boton-medium {
	background-color: #0077FF;
	padding: 14px 40px;
	border: none;
	outline: none;
	border-radius: 60px;
	color: #FFFFFF;
	transition: 0.5s;
	transition: background-color 0.5s ease;
	outline: none;
	text-decoration: none;
}

.formulario-login .boton-medium {
	margin-top: 40px;
	display: inline-block;

}

.boton-medium:hover {
	background-color: #26B1EA;
	text-decoration: none;
	color: #FFFFFF;
}

.boton-medium:focus {
    border: none;
    outline: none;
    text-decoration: none;
}

.formulario-login {
    margin-top: 30px;
}

.boton-logout {
	width: auto;
	float: right;
	margin-top: 20px;
}

thead tr th {
	font-family: 'SFProDisplay-Medium';
	font-size: 18px;
	color: #0077D5;
}
th {
	color: #666;
	font-family: 'SFCompactText-Regular';
	font-weight: normal;
	font-size: 14px;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

.hidden-xs {
	visibility: visible;
}

.hidden-lg {
	visibility: hidden;
}

.user-profile {
	width: 100%;
	padding: 50px 20px; 
}

.user-image {
	width: 100px;
	height: 100px;
	margin: 0 33.3%;
	/*text-align: center;*/
}
.user-image img {
	border-radius: 3px;
	border: 5px solid #FFFFFF;
}

h2.username {
	font-size: 16px;
	color: #B4DEFF;
	margin-top: 20px;
	text-align: center;
}
h3.matricula {
	text-align: center;
	font-size: 20px;
	color: #B4DEFF;
}

.cerrar-sesion {
	text-align: center;
	margin-top: 50px;
}
/*brakpoints*/
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
	body {
		background-position: center top;
		margin: 0;
	}
	.blue-back-left {
		height: 100px;
		margin: 0px 15px 0 15px;
		padding: 20px;
		border-radius: 15px 15px 0 0;
	}

	.logo-uasd-virtual {
    	padding: 0;
	}
	.contaniner-login {
		width: 400px;
		height: 615px;
	}
	.white-right {
	 	padding: 0px 20px; 
		margin: 0px 15px 0 15px;
		border-radius: 0 0 15px 15px;

	}

	.white-content {
	    padding: 20px 15px 0;
	}

	.boton-recuperar-nip {
		display: none;
		visibility: hidden;
	}
	.logo-uasd-virtual img {
		width: 215px;
		height: auto;
		float: left;
	}

	.hidden-lg {
		visibility: visible;
	}

	.hidden-xs {
		visibility: hidden;
	}
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

.boton-text {
	text-decoration: underline;
	color: #666666;
	padding: 15px 0 15px 10px;
	transition: color 0.5s ease;
}